:root {
    --gray:  rgb(32, 32, 32);
    --green: #CCF381;
    --blue:  #4831D4;
    --purple:rgb(139, 6, 255);
}


html { 
    scroll-behavior: smooth; 
} 

body{
    background-color: var(--gray);
}

#home-button img {
    height:10%;
    display: inline-block;
    position: relative;
    top:2%;
    left: 2%;
    background-image: radial-gradient(var(--green),var(--blue),var(--blue));
    padding:5%;
}

#home-button img:hover {
    height:20%;
}


/*----------------------- Home Page--------->*/


#home-page {
    background-color: var(--gray);
    height: 100vh;
}

#code-pic {
    opacity: .15;
    height: 50%;
    position: absolute;
    right:0%;
    bottom:0%;
}

nav a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    float:right;
    margin: 2% 2% 0 2%; 
}

nav a:hover {
    color: var(--green);
    font-weight: 800;
    font-size: 50px;
}

header {
    display: flex;
    margin-left: 5%;
}

header a {
    text-decoration: none;
}

h1{
    color: var(--green);
    font-size: 60px;
    font-family: monospace;
    text-shadow: 2px 2px black;
    background-color: var(--blue);
    -webkit-box-shadow:0px 0px 200px 200px var(--blue);;
    -moz-box-shadow: 0px 0px 200px 200px var(--blue);;
    box-shadow: 0px 0px 200px 200px var(--blue);;
}

h1:hover {
    font-size: 70px;
}

.quote {
    display: inline-flex;
    position: absolute;
    top:25%;
    right: 10%;
    font-size: 20px;
    color: var(--green);
    text-shadow: 1px 1px black;
    font-family: Lucida Handwriting, cursive;
}

.quote::after {
    content:"- George Washington";
    font-size: 15px;
    color:silver;
    align-self: flex-end;
}

.scroll {
    position: absolute;
    bottom: 1%;
    left: 2%;
}

.scroll p {
    font-size: 20px;
    font-family: monospace;
    color: var(--green);
}

.scroll p::after {
    content: "\1F847";
}


/*----------------------- About Me --------->*/


#second-page {
    background-color: var(--blue);
    height: 100vh;
}

.bio {
    color: var(--green);
    background-color: (var(--blue));
    text-align: center;
    padding: 4rem;
    float: right;
    width: 50%;

}

.bio h2 {
    text-align: center;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bio p {
    font-size: 20px;
    color: white;
    font-family: sans-serif;

}


/*----------------------- third page --------->*/


#third-page {
    background-color: var(--green);
    height: 100vh;
}

.projects {

}