:root {
    --gray:  rgb(32, 32, 32);
    --green: #CCF381;
    --blue:  #4831D4;
    --purple:rgb(139, 6, 255);
}



body{
    background-color: var(--gray);
}

.front-page {
    background-color: var(--gray);
    height: 100vh;

}

#code-pic {
    opacity: .15;
    height: 70%;
    position: absolute;
    right:0%;
    bottom: -20%;
}


nav a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    float:right;
    margin: 0 2% 0 2%;    
}

nav a:hover {
    color: var(--blue);
    background-color: var(--green);
    font-weight: 800;
    -webkit-box-shadow:0px 0px 20px 20px var(--green);;
    -moz-box-shadow: 0px 0px 20px 20px var(--green);;
    box-shadow: 0px 0px 20px 20px var(--green);;
}

header {
    display: flex;
    margin-left: 5%;
}
h1{
    color: var(--green);
    font-size: 50px;
    font-family: monospace;
    text-shadow: 2px 2px black;
    background-color: var(--blue);
    -webkit-box-shadow:0px 0px 200px 200px var(--blue);;
    -moz-box-shadow: 0px 0px 200px 200px var(--blue);;
    box-shadow: 0px 0px 200px 200px var(--blue);;
}

h1:hover {
    font-size: 70px;
}

.quote {
    display: inline-flex;
    position: absolute;
    top:25%;
    right: 10%;
    font-size: 20px;
    color: var(--green);
    text-shadow: 1px 1px black;
    font-family: Lucida Handwriting, cursive;
}

.quote::after {
    content:"- George Washington";
    font-size: 15px;
    color:silver;
    align-self: flex-end;
}

.quote:hover {
    font-size: 30px;
    font-family: monospace;
    text-shadow: 2px 2px black;
}

.scroll {
    position: absolute;
    bottom: 1%;
    left: 2%;
}

.scroll p {
    font-size: 20px;
    font-family: monospace;
    color: var(--green);
}

.scroll p::after {
    content: "\1F847";
}



.second-page {
    background-color: var(--blue);
    height: 100vh;
}

.bio {
    color: var(--green);
}