
body {
    background-color: rgb(56, 56, 56);
}

header {
    background-image: url(./Images/light-blue-sky.jpg);
    background-size: cover;
    height: 100px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .4rem solid rgb(39, 98, 236);
}

header h1 {
    color: white;
    background-color: rgb(39, 98, 236);
    padding: 1.5rem 3rem 1.5rem 3rem;
}

header nav {
    width: 50%;
    min-width: fit-content;
    display: flex;
}

nav a {
    background-image: linear-gradient(white, rgb(94, 186, 248));
    color: black;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 800;
    text-decoration: none;
    padding: 1rem 1rem;
    margin: 1rem;
    flex-wrap: nowrap;
}

nav a:hover {
    background-image: linear-gradient(white, rgb(249, 184, 43));
}


.textbox {
    width: 90%;
    background-image: url(./Images/light-blue-sky.jpg);
    background-size: cover;
    margin:auto;
    display:flex;
    border: .4rem solid rgb(39, 98, 236);
    border-top: 0;

}

.textbox h2 {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(39, 98, 236);
    padding: 1.2rem;
    justify-content: flex-start;
}

.textbox p {
    padding: 2rem;
    font-size: medium;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;
}

.main-container {
    display: flex;
    margin: auto;
    margin-top: 2rem;
    justify-content: space-between;
    width:90%;
}

section{
    width: 60%;
    background-image: url(./Images/1000_F_283463385_mfnrx6RPU3BqObhVuVjYZjeZ5pegE7xq.jpg);
    background-size: cover;
    text-align: center;
    border: .4rem solid rgb(39, 98, 236);
    opacity: .6;
}

section:hover {
    opacity: 1;
}

aside {
    width: 30%;
    background-image: url(./Images/light-blue-sky.jpg);
    background-size: cover;
    text-align: center;
    border: .4rem solid rgb(39, 98, 236);
}