
:root {
    --gray:  rgb(32, 32, 32);
    --pink: rgb(251, 37, 118);
    --lightBlue:  rgb(20, 255, 236);
}

@keyframes slideInRight {
    from {
        transform: translateX(50vw) ;
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes fadeInHide {
    from {
        opacity: 0;
    }
    to {
        opacity: 0%;
    }
}

body {
    background-image: url('/animationsTest/assets/Images/pexels-felix-mittermeier-956999.jpg');
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#headDiv {
    display: flex;
    margin-left: 10%;
}

h1 {
    animation-name: slideInRight;
    animation-duration: 1s;
    font-size: 80px;
    color:var(--lightBlue);
}

p {
    color:white;
    font-size: 20px;
    margin-left: 20%;
    font-family: sans-serif;
}

.fade-in-one {
    animation: fadeInHide 1s, fadeIn 3s 1s;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-right: 7%;
    height: fit-content;
}

nav a {
    color:var(--pink);
    font-size: 30px;
    text-decoration: none;
}

nav a:hover {
    color:var(--lightBlue);
}