:root {
    --gray:  rgb(32, 32, 32);
    --green: rgba(91,252,145,0.52);
    --blue: rgb(0, 255, 255);
    --purple:rgb(139, 6, 255);
}

body{
    background-color: var(--gray);
}

nav {
}

nav a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    float:right;
    margin: 0 2% 0 2%;
    
}

nav a:hover {
    color: var(--purple);
    background-color: rgb(0, 255, 255);
    font-weight: 800;
    -webkit-box-shadow:0px 0px 20px 20px rgb(0, 255, 255);;
    -moz-box-shadow: 0px 0px 20px 20px rgb(0, 255, 255);;
    box-shadow: 0px 0px 20px 20px rgb(0, 255, 255);;
}

header {
    display: flex;
}
h1{
    color: var(--purple);
    font-size: 50px;
    font-family: monospace;
    text-shadow: 2px 2px black;
    background-color: var(--blue);
    -webkit-box-shadow:0px 0px 200px 200px var(--blue);;
    -moz-box-shadow: 0px 0px 200px 200px var(--blue);;
    box-shadow: 0px 0px 200px 200px var(--blue);;
}

h1:hover {
    font-size: 70px;
}

.quote {
    display: inline-flex;
    position: absolute;
    top:25%;
    right: 10%;
    font-size: 20px;
    color: var(--purple);
    text-shadow: 1px 1px black;
    font-family: Lucida Handwriting, cursive;
}

.quote::after {
    content:"- George Washington";
    font-size: 15px;
    color:silver;
    align-self: flex-end;
}

.quote:hover {
    font-size: 30px;
    font-family: monospace;
    text-shadow: 2px 2px black;
}



